/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
	background-color: #dd99c8;
	color: #ffffff;
}


/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
	text-align: center;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}


footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and nav */

.topnav {
	overflow: hidden;
	background-color: gray;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 2.5rem 2rem;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	color: white;
  }
  
  .topnav-right {
	float: right;
  }
  .topnav-middle{
	float: left;
  }


a {
	outline:none;
	color:white;
}



/* Imported Typfaces */

@font-face {
	font-family:Montserrat;
	src: url(fonts/montserrat-regular.ttf) format('trueType') ;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:Josefinslab;
	src: url(fonts/josefinslab.ttf) format('trueType');
	font-weight: normal;
	font-style: normal;
}



/* Typography Styles */

html{
	font-family:Montserrat, Arial, sans-serif;
	
}
h1{
	font-family: 'Courgette', cursive;
	letter-spacing: .125rem;
	font-size: 3.75rem;
	text-align: justify;
	margin: 0.5rem;
	
}

h2{
	font-family: Josefinslab, Garamond, serif;
	letter-spacing: .125rem;
	font-size: 1.5rem;
}

h2 + p {
	text-indent: 1rem;
}

p,
li {
	font-size: .75rem;
	line-height: 1.5rem;
	letter-spacing: .03125rem;
	word-spacing: .125rem;
}

figcaption {
	font-size:.5rem;
	margin-bottom: 2rem;
}



/* Link Styling */

a {
	outline:none;
}

a:link,
a:visited {
	color:#ffffff
}

a:focus,
a:hover {
	color:#ffffff;
}

/* List Styling */

ul {
	list-style-type: square;
	margin: 1rem 0;
}

ol {
	list-style-type: lower-alpha;
	margin: 1rem 0;
}

.long-list a:hover {
	text-transform: uppercase;
}


/* fancy dot border */
.dots {
	border: 5px solid rgb(213, 215, 241);
	border-style: dotted;
  }


/* Footer Styles */

footer {
	text-align:center;
	border-top: .125rem solid #33658A;
	border-bottom: .125rem solid #33658A;
}





